.register{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 30px;
  padding-top: 56px;
  box-sizing: border-box;
}

.register__logo{
  margin-bottom: 47px;
}

.register__form{
  grid-template-rows: 532px auto;
}

.button__text{
  font-weight: 500;
  min-width: 260px;
  min-height: 45px;
  background-color: #3456f3;
  color: white;
  border: none;
  border-radius: 3px;
  margin-bottom: 14px;
  box-sizing: border-box;
}

@media screen and (min-width: 768px){
  .register{
    align-items: flex-start;
    margin: 232px auto;
    padding-top: 0;
  }

  .register__logo{
    margin-bottom: 40px;
  }

  .register__form{
    grid-template-rows: 401px auto;
  }

  .button__text{
    font-weight: 500;
    min-width: 396px;
  }

  .button__register{
    font-size: 14px;
    line-height: 17px;
  }

}

@media screen and (min-width: 1280px){
  .register{
    margin: 70px auto;
  }
}
